body {
    background-image: url("../images/circles-light.png");
    /* overflow: auto; */
    height: 100%;
    /* margin: 0; */
    /* width: 100%;  */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

h2 {
    font-size: 45px;
    padding: 15px;
}

h3{
    font-size: 30px;
}

a, p {
    font-size: 18px;
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.bold {
    font-size:25pt;
    color: white;
}
.navbar-brand {
    background-color: #4aaaa5;
}
.navbar-header:hover {
    background-color: #4aaaa5;
    color: white;
}
#portfolio {
    padding-left: 5%;
    padding-right: 5%;
}

.connectTitle {
    text-align: center;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad the bottom by footer height */
    padding: 0 0 30px;
  }

  .footer {
    height: 60px;
    background-color: #4aaaa5;
  }

  .text-muted {
      color: white;
      text-align: center;
  }